In [2]:
#import library

import pandas as pd # type: ignore
import seaborn as sns # type: ignore
import matplotlib.pyplot as plt # type: ignore
 

 #load dataset
df=pd.read_csv(r"loan_data.csv")
df.shape

(1307, 12)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1307 entries, 0 to 1306
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   race       1277 non-null   object
 1   gender     1289 non-null   object
 2   date       1307 non-null   object
 3   zip        1276 non-null   float64
 4   income     1057 non-null   float64
 5   type       1307 non-null   object
 6   term       1307 non-null   int64
 7   interest   1307 non-null   float64
 8   principal  1307 non-null   int64
 9   approved   1307 non-null   bool
 10  adj_bls_2  1307 non-null   float64
 11  id         1307 non-null   object
dtypes: bool(1), float64(4), int64(2), object(5)
memory usage: 113.7+ KB

In [4]:
df.select_dtypes(include=["int64","float64"]).columns

Index(['zip', 'income', 'term', 'interest', 'principal', 'adj_bls_2'], dtype='object')

In [6]:
from sklearn.impute import SimpleImputer

In [8]:
si=SimpleImputer(strategy="mean")
ar=si.fit_transform(df[["zip","income","term","interest",
                     "principal","adj_bls_2"]])

In [10]:
new_df=pd.DataFrame(ar,columns=df.select_dtypes(include=["int64","float64"]).columns)
new_df

          zip        income   term   interest  principal  adj_bls_2
0     60623.0  72230.000000  180.0   3.389672   508761.0       0.34
1     60625.0  18543.000000  360.0   0.277318   119738.0       0.14
2     60623.0  30228.000000  240.0   4.398939   265779.0       0.08
3     60623.0  11129.000000   60.0   5.221935    15590.0       0.09
4     60637.0  56449.816462   60.0  10.843707    56301.0       0.41
...       ...           ...    ...        ...        ...        ...
1302  60626.0  24011.000000   84.0   2.975299    23189.0       0.24
1303  60626.0  24011.000000   84.0   2.975299    23189.0       0.24
1304  60626.0  24011.000000   84.0   2.975299    23189.0       0.24
1305  60623.0  34474.000000   12.0   4.117964    32811.0       1.15
1306  60623.0  34474.000000   12.0   4.117964    32811.0       1.15

[1307 rows x 6 columns]

In [ ]:
new_df.isnull().sum() #fill numerical dataset

zip          0
income       0
term         0
interest     0
principal    0
adj_bls_2    0
dtype: int64